body{
    text-align: center;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.3rem;;
}

.btn-container{
    display: flex;
    justify-content: center;
}
.yellow{
    background-color: yellow;
}
.pink{
    background-color: rgb(207, 88, 108);
}
.green{
    background-color: rgb(59, 194, 59);
}
.purple{
    background-color: rgb(173, 100, 173);
}
.flash{
    background-color: white;
}
.userflash{
    background-color: orange;
}
